<h1>Products</h1>

<% @products.each do |product| %>
  <div>
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p>Price: Rs <%= (product.price) %></p>
    <% current_quantity = @cart[product.id.to_s].to_i %>
    <% if current_quantity > 0 %>
      <p>Current quantity in cart: <%= current_quantity %></p>
    <% end %>
    <%= form_tag add_to_cart_path, method: :post do %>
      <%= hidden_field_tag :product_id, product.id %>
      <%= number_field_tag :quantity, 1, min: 1 %>
      <%= submit_tag "Add to Cart" %>
    <% end %>
  </div>
<% end %>

<%= link_to "View Cart", cart_path %>